<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.swu.ai.mapper.FingerResultV0Mapper">
  <resultMap id="BaseResultMap" type="com.swu.ai.entity.FingerResultV0">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="company_id" jdbcType="BIGINT" property="companyId" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="company_plate" jdbcType="VARCHAR" property="companyPlate" />
    <result column="denominator_type" jdbcType="VARCHAR" property="denominatorType" />
    <result column="year" jdbcType="INTEGER" property="year" />
    <result column="period_type" jdbcType="VARCHAR" property="periodType" />
    <result column="finger_all" jdbcType="DOUBLE" property="fingerAll" />
    <result column="finger_sale" jdbcType="DOUBLE" property="fingerSale" />
    <result column="finger_sale_invoice" jdbcType="DOUBLE" property="fingerSaleInvoice" />
    <result column="finger_sale_invoice_soft" jdbcType="DOUBLE" property="fingerSaleInvoiceSoft" />
    <result column="finger_sale_invoice_hard" jdbcType="DOUBLE" property="fingerSaleInvoiceHard" />
    <result column="finger_sale_invoice_consultation" jdbcType="DOUBLE" property="fingerSaleInvoiceConsultation" />
    <result column="finger_sale_invoice_other" jdbcType="DOUBLE" property="fingerSaleInvoiceOther" />
    <result column="finger_sale_contract" jdbcType="DOUBLE" property="fingerSaleContract" />
    <result column="finger_sale_contract_soft" jdbcType="DOUBLE" property="fingerSaleContractSoft" />
    <result column="finger_sale_contract_hard" jdbcType="DOUBLE" property="fingerSaleContractHard" />
    <result column="finger_sale_contract_consultation" jdbcType="DOUBLE" property="fingerSaleContractConsultation" />
    <result column="finger_sale_contract_other" jdbcType="DOUBLE" property="fingerSaleContractOther" />
    <result column="finger_tax" jdbcType="DOUBLE" property="fingerTax" />
    <result column="finger_tax_corporate" jdbcType="DOUBLE" property="fingerTaxCorporate" />
    <result column="finger_tax_corporate_taxable" jdbcType="DOUBLE" property="fingerTaxCorporateTaxable" />
    <result column="finger_tax_corporate_relief" jdbcType="DOUBLE" property="fingerTaxCorporateRelief" />
    <result column="finger_tax_individual" jdbcType="DOUBLE" property="fingerTaxIndividual" />
    <result column="finger_tax_individual_taxable" jdbcType="DOUBLE" property="fingerTaxIndividualTaxable" />
    <result column="finger_tax_individual_relief" jdbcType="DOUBLE" property="fingerTaxIndividualRelief" />
    <result column="finger_tax_added" jdbcType="DOUBLE" property="fingerTaxAdded" />
    <result column="finger_tax_added_taxable" jdbcType="DOUBLE" property="fingerTaxAddedTaxable" />
    <result column="finger_tax_added_relief" jdbcType="DOUBLE" property="fingerTaxAddedRelief" />
    <result column="finger_finance" jdbcType="DOUBLE" property="fingerFinance" />
    <result column="finger_finance_stock" jdbcType="DOUBLE" property="fingerFinanceStock" />
    <result column="finger_finance_stock_risk" jdbcType="DOUBLE" property="fingerFinanceStockRisk" />
    <result column="finger_finance_stock_gov" jdbcType="DOUBLE" property="fingerFinanceStockGov" />
    <result column="finger_finance_stock_person" jdbcType="DOUBLE" property="fingerFinanceStockPerson" />
    <result column="finger_finance_debt" jdbcType="DOUBLE" property="fingerFinanceDebt" />
    <result column="finger_finance_debt_bank" jdbcType="DOUBLE" property="fingerFinanceDebtBank" />
    <result column="finger_finance_debt_new" jdbcType="DOUBLE" property="fingerFinanceDebtNew" />
    <result column="finger_finance_debt_lending" jdbcType="DOUBLE" property="fingerFinanceDebtLending" />
    <result column="finger_finance_debt_person" jdbcType="DOUBLE" property="fingerFinanceDebtPerson" />
    <result column="finger_valuation" jdbcType="DOUBLE" property="fingerValuation" />
    <result column="finger_valuation_assets" jdbcType="DOUBLE" property="fingerValuationAssets" />
    <result column="finger_valuation_assets_circulating" jdbcType="DOUBLE" property="fingerValuationAssetsCirculating" />
    <result column="finger_valuation_assets_uncirculating" jdbcType="DOUBLE" property="fingerValuationAssetsUncirculating" />
    <result column="finger_valuation_assets_debt_circulating" jdbcType="DOUBLE" property="fingerValuationAssetsDebtCirculating" />
    <result column="finger_valuation_assets_debt_uncirculating" jdbcType="DOUBLE" property="fingerValuationAssetsDebtUncirculating" />
    <result column="finger_valuation_actual" jdbcType="DOUBLE" property="fingerValuationActual" />
    <result column="finger_valuation_actual_first" jdbcType="DOUBLE" property="fingerValuationActualFirst" />
    <result column="finger_valuation_actual_latest" jdbcType="DOUBLE" property="fingerValuationActualLatest" />
    <result column="finger_valuation_actual_want" jdbcType="DOUBLE" property="fingerValuationActualWant" />
    <result column="finger_hr" jdbcType="DOUBLE" property="fingerHr" />
    <result column="finger_hr_partime" jdbcType="DOUBLE" property="fingerHrPartime" />
    <result column="finger_hr_partime_dev" jdbcType="DOUBLE" property="fingerHrPartimeDev" />
    <result column="finger_hr_partime_manage" jdbcType="DOUBLE" property="fingerHrPartimeManage" />
    <result column="finger_hr_partime_admin" jdbcType="DOUBLE" property="fingerHrPartimeAdmin" />
    <result column="finger_hr_partime_saler" jdbcType="DOUBLE" property="fingerHrPartimeSaler" />
    <result column="finger_hr_fulltime" jdbcType="DOUBLE" property="fingerHrFulltime" />
    <result column="finger_hr_fulltime_dev" jdbcType="DOUBLE" property="fingerHrFulltimeDev" />
    <result column="finger_hr_fulltime_senior" jdbcType="DOUBLE" property="fingerHrFulltimeSenior" />
    <result column="finger_hr_fulltime_admin" jdbcType="DOUBLE" property="fingerHrFulltimeAdmin" />
    <result column="finger_hr_fulltime_saler" jdbcType="DOUBLE" property="fingerHrFulltimeSaler" />
    <result column="finger_hr_educated" jdbcType="DOUBLE" property="fingerHrEducated" />
    <result column="finger_hr_educated_doc" jdbcType="DOUBLE" property="fingerHrEducatedDoc" />
    <result column="finger_hr_educated_master" jdbcType="DOUBLE" property="fingerHrEducatedMaster" />
    <result column="finger_hr_bachelor" jdbcType="DOUBLE" property="fingerHrBachelor" />
    <result column="finger_innovate" jdbcType="DOUBLE" property="fingerInnovate" />
    <result column="finger_innovate_patent_apply" jdbcType="DOUBLE" property="fingerInnovatePatentApply" />
    <result column="finger_innovate_patent_apply_invention" jdbcType="DOUBLE" property="fingerInnovatePatentApplyInvention" />
    <result column="finger_innovate_patent_apply_utility" jdbcType="DOUBLE" property="fingerInnovatePatentApplyUtility" />
    <result column="finger_innovate_patent_apply_appear" jdbcType="DOUBLE" property="fingerInnovatePatentApplyAppear" />
    <result column="finger_innovate_patent_grant" jdbcType="DOUBLE" property="fingerInnovatePatentGrant" />
    <result column="finger_innovate_patent_grant_invention" jdbcType="DOUBLE" property="fingerInnovatePatentGrantInvention" />
    <result column="finger_innovate_patent_grant_utility" jdbcType="DOUBLE" property="fingerInnovatePatentGrantUtility" />
    <result column="finger_innovate_patent_grant_appear" jdbcType="DOUBLE" property="fingerInnovatePatentGrantAppear" />
    <result column="finger_innovate_copyright_apply" jdbcType="DOUBLE" property="fingerInnovateCopyrightApply" />
    <result column="finger_innovate_copyright_apply_soft" jdbcType="DOUBLE" property="fingerInnovateCopyrightApplySoft" />
    <result column="finger_innovate_copyright_apply_unsoft" jdbcType="DOUBLE" property="fingerInnovateCopyrightApplyUnsoft" />
    <result column="finger_innovate_copyright_grant" jdbcType="DOUBLE" property="fingerInnovateCopyrightGrant" />
    <result column="finger_innovate_copyright_grant_soft" jdbcType="DOUBLE" property="fingerInnovateCopyrightGrantSoft" />
    <result column="finger_innovate_copyright_grant_unsoft" jdbcType="DOUBLE" property="fingerInnovateCopyrightGrantUnsoft" />
    <result column="finger_innovate_new_product" jdbcType="DOUBLE" property="fingerInnovateNewProduct" />
    <result column="finger_innovate_new_product_patent" jdbcType="DOUBLE" property="fingerInnovateNewProductPatent" />
    <result column="finger_innovate_new_product_tech" jdbcType="DOUBLE" property="fingerInnovateNewProductTech" />
    <result column="finger_innovate_new_product_bus" jdbcType="DOUBLE" property="fingerInnovateNewProductBus" />
    <result column="finger_salary" jdbcType="DOUBLE" property="fingerSalary" />
    <result column="finger_salary_staff" jdbcType="DOUBLE" property="fingerSalaryStaff" />
    <result column="finger_salary_staff_up_10" jdbcType="DOUBLE" property="fingerSalaryStaffUp10" />
    <result column="finger_salary_staff_5_10" jdbcType="DOUBLE" property="fingerSalaryStaff510" />
    <result column="finger_salary_staff_down_5" jdbcType="DOUBLE" property="fingerSalaryStaffDown5" />
    <result column="finger_salary_staff_contribution" jdbcType="DOUBLE" property="fingerSalaryStaffContribution" />
    <result column="finger_salary_staff_contribution_meansale" jdbcType="DOUBLE" property="fingerSalaryStaffContributionMeansale" />
    <result column="finger_salary_staff_contribution_meantax" jdbcType="DOUBLE" property="fingerSalaryStaffContributionMeantax" />
    <result column="finger_learn" jdbcType="DOUBLE" property="fingerLearn" />
    <result column="finger_learn_train" jdbcType="DOUBLE" property="fingerLearnTrain" />
    <result column="finger_learn_train_manage" jdbcType="DOUBLE" property="fingerLearnTrainManage" />
    <result column="finger_learn_train_policy" jdbcType="DOUBLE" property="fingerLearnTrainPolicy" />
    <result column="finger_learn_train_skill" jdbcType="DOUBLE" property="fingerLearnTrainSkill" />
    <result column="finger_learn_conslted" jdbcType="DOUBLE" property="fingerLearnConslted" />
    <result column="finger_learn_conslted_manage" jdbcType="DOUBLE" property="fingerLearnConsltedManage" />
    <result column="finger_learn_conslted_policy" jdbcType="DOUBLE" property="fingerLearnConsltedPolicy" />
    <result column="finger_learn_conslted_skill" jdbcType="DOUBLE" property="fingerLearnConsltedSkill" />
    <result column="finger_brand" jdbcType="DOUBLE" property="fingerBrand" />
    <result column="finger_brand_reward" jdbcType="DOUBLE" property="fingerBrandReward" />
    <result column="finger_brand_reward_area" jdbcType="DOUBLE" property="fingerBrandRewardArea" />
    <result column="finger_brand_reward_city" jdbcType="DOUBLE" property="fingerBrandRewardCity" />
    <result column="finger_brand_reward_province" jdbcType="DOUBLE" property="fingerBrandRewardProvince" />
    <result column="finger_brand_reward_country" jdbcType="DOUBLE" property="fingerBrandRewardCountry" />
    <result column="finger_brand_recognition" jdbcType="DOUBLE" property="fingerBrandRecognition" />
    <result column="finger_brand_recognition_area" jdbcType="DOUBLE" property="fingerBrandRecognitionArea" />
    <result column="finger_brand_recognition_city" jdbcType="DOUBLE" property="fingerBrandRecognitionCity" />
    <result column="finger_brand_recognition_province" jdbcType="DOUBLE" property="fingerBrandRecognitionProvince" />
    <result column="finger_brand_recognition_country" jdbcType="DOUBLE" property="fingerBrandRecognitionCountry" />
    <result column="finger_brand_talent" jdbcType="DOUBLE" property="fingerBrandTalent" />
    <result column="finger_brand_talent_area" jdbcType="DOUBLE" property="fingerBrandTalentArea" />
    <result column="finger_brand_talent_city" jdbcType="DOUBLE" property="fingerBrandTalentCity" />
    <result column="finger_brand_talent_province" jdbcType="DOUBLE" property="fingerBrandTalentProvince" />
    <result column="finger_brand_talent_country" jdbcType="DOUBLE" property="fingerBrandTalentCountry" />
  </resultMap>
</mapper>