<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.swu.ai.mapper.FingerWeightMapper">
  <resultMap id="BaseResultMap" type="com.swu.ai.entity.FingerWeight">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="finger_sale_weight" jdbcType="DOUBLE" property="fingerSaleWeight" />
    <result column="finger_sale_invoice_weight" jdbcType="DOUBLE" property="fingerSaleInvoiceWeight" />
    <result column="finger_sale_invoice_soft_weight" jdbcType="DOUBLE" property="fingerSaleInvoiceSoftWeight" />
    <result column="finger_sale_invoice_hard_weight" jdbcType="DOUBLE" property="fingerSaleInvoiceHardWeight" />
    <result column="finger_sale_invoice_consultation_weight" jdbcType="DOUBLE" property="fingerSaleInvoiceConsultationWeight" />
    <result column="finger_sale_invoice_other_weight" jdbcType="DOUBLE" property="fingerSaleInvoiceOtherWeight" />
    <result column="finger_sale_contract_weight" jdbcType="DOUBLE" property="fingerSaleContractWeight" />
    <result column="finger_sale_contract_soft_weight" jdbcType="DOUBLE" property="fingerSaleContractSoftWeight" />
    <result column="finger_sale_contract_hard_weight" jdbcType="DOUBLE" property="fingerSaleContractHardWeight" />
    <result column="finger_sale_contract_consultation_weight" jdbcType="DOUBLE" property="fingerSaleContractConsultationWeight" />
    <result column="finger_sale_contract_other_weight" jdbcType="DOUBLE" property="fingerSaleContractOtherWeight" />
    <result column="finger_tax_weight" jdbcType="DOUBLE" property="fingerTaxWeight" />
    <result column="finger_tax_corporate_weight" jdbcType="DOUBLE" property="fingerTaxCorporateWeight" />
    <result column="finger_tax_corporate_taxable_weight" jdbcType="DOUBLE" property="fingerTaxCorporateTaxableWeight" />
    <result column="finger_tax_corporate_relief_weight" jdbcType="DOUBLE" property="fingerTaxCorporateReliefWeight" />
    <result column="finger_tax_individual_weight" jdbcType="DOUBLE" property="fingerTaxIndividualWeight" />
    <result column="finger_tax_individual_taxable_weight" jdbcType="DOUBLE" property="fingerTaxIndividualTaxableWeight" />
    <result column="finger_tax_individual_relief_weight" jdbcType="DOUBLE" property="fingerTaxIndividualReliefWeight" />
    <result column="finger_tax_added_weight" jdbcType="DOUBLE" property="fingerTaxAddedWeight" />
    <result column="finger_tax_added_taxable_weight" jdbcType="DOUBLE" property="fingerTaxAddedTaxableWeight" />
    <result column="finger_tax_added_relief_weight" jdbcType="DOUBLE" property="fingerTaxAddedReliefWeight" />
    <result column="finger_finance_weight" jdbcType="DOUBLE" property="fingerFinanceWeight" />
    <result column="finger_finance_stock_weight" jdbcType="DOUBLE" property="fingerFinanceStockWeight" />
    <result column="finger_finance_stock_risk_weight" jdbcType="DOUBLE" property="fingerFinanceStockRiskWeight" />
    <result column="finger_finance_stock_gov_weight" jdbcType="DOUBLE" property="fingerFinanceStockGovWeight" />
    <result column="finger_finance_stock_person_weight" jdbcType="DOUBLE" property="fingerFinanceStockPersonWeight" />
    <result column="finger_finance_debt_weight" jdbcType="DOUBLE" property="fingerFinanceDebtWeight" />
    <result column="finger_finance_debt_bank_weight" jdbcType="DOUBLE" property="fingerFinanceDebtBankWeight" />
    <result column="finger_finance_debt_new_weight" jdbcType="DOUBLE" property="fingerFinanceDebtNewWeight" />
    <result column="finger_finance_debt_lending_weight" jdbcType="DOUBLE" property="fingerFinanceDebtLendingWeight" />
    <result column="finger_finance_debt_person_weight" jdbcType="DOUBLE" property="fingerFinanceDebtPersonWeight" />
    <result column="finger_valuation_weight" jdbcType="DOUBLE" property="fingerValuationWeight" />
    <result column="finger_valuation_assets_weight" jdbcType="DOUBLE" property="fingerValuationAssetsWeight" />
    <result column="finger_valuation_assets_circulating_weight" jdbcType="DOUBLE" property="fingerValuationAssetsCirculatingWeight" />
    <result column="finger_valuation_assets_uncirculating_weight" jdbcType="DOUBLE" property="fingerValuationAssetsUncirculatingWeight" />
    <result column="finger_valuation_assets_debt_circulating_weight" jdbcType="DOUBLE" property="fingerValuationAssetsDebtCirculatingWeight" />
    <result column="finger_valuation_assets_debt_uncirculating_weight" jdbcType="DOUBLE" property="fingerValuationAssetsDebtUncirculatingWeight" />
    <result column="finger_valuation_actual_weight" jdbcType="DOUBLE" property="fingerValuationActualWeight" />
    <result column="finger_valuation_actual_first_weight" jdbcType="DOUBLE" property="fingerValuationActualFirstWeight" />
    <result column="finger_valuation_actual_latest_weight" jdbcType="DOUBLE" property="fingerValuationActualLatestWeight" />
    <result column="finger_valuation_actual_want_weight" jdbcType="DOUBLE" property="fingerValuationActualWantWeight" />
    <result column="finger_hr_weight" jdbcType="DOUBLE" property="fingerHrWeight" />
    <result column="finger_hr_partime_weight" jdbcType="DOUBLE" property="fingerHrPartimeWeight" />
    <result column="finger_hr_partime_dev_weight" jdbcType="DOUBLE" property="fingerHrPartimeDevWeight" />
    <result column="finger_hr_partime_manage_weight" jdbcType="DOUBLE" property="fingerHrPartimeManageWeight" />
    <result column="finger_hr_partime_admin_weight" jdbcType="DOUBLE" property="fingerHrPartimeAdminWeight" />
    <result column="finger_hr_partime_saler_weight" jdbcType="DOUBLE" property="fingerHrPartimeSalerWeight" />
    <result column="finger_hr_fulltime_weight" jdbcType="DOUBLE" property="fingerHrFulltimeWeight" />
    <result column="finger_hr_fulltime_dev_weight" jdbcType="DOUBLE" property="fingerHrFulltimeDevWeight" />
    <result column="finger_hr_fulltime_senior_weight" jdbcType="DOUBLE" property="fingerHrFulltimeSeniorWeight" />
    <result column="finger_hr_fulltime_admin_weight" jdbcType="DOUBLE" property="fingerHrFulltimeAdminWeight" />
    <result column="finger_hr_fulltime_saler_weight" jdbcType="DOUBLE" property="fingerHrFulltimeSalerWeight" />
    <result column="finger_hr_educated_weight" jdbcType="DOUBLE" property="fingerHrEducatedWeight" />
    <result column="finger_hr_educated_doc_weight" jdbcType="DOUBLE" property="fingerHrEducatedDocWeight" />
    <result column="finger_hr_educated_master_weight" jdbcType="DOUBLE" property="fingerHrEducatedMasterWeight" />
    <result column="finger_hr_bachelor_weight" jdbcType="DOUBLE" property="fingerHrBachelorWeight" />
    <result column="finger_innovate_weight" jdbcType="DOUBLE" property="fingerInnovateWeight" />
    <result column="finger_innovate_patent_apply_weight" jdbcType="DOUBLE" property="fingerInnovatePatentApplyWeight" />
    <result column="finger_innovate_patent_apply_invention_weight" jdbcType="DOUBLE" property="fingerInnovatePatentApplyInventionWeight" />
    <result column="finger_innovate_patent_apply_utility_weight" jdbcType="DOUBLE" property="fingerInnovatePatentApplyUtilityWeight" />
    <result column="finger_innovate_patent_apply_appear_weight" jdbcType="DOUBLE" property="fingerInnovatePatentApplyAppearWeight" />
    <result column="finger_innovate_patent_grant_weight" jdbcType="DOUBLE" property="fingerInnovatePatentGrantWeight" />
    <result column="finger_innovate_patent_grant_invention_weight" jdbcType="DOUBLE" property="fingerInnovatePatentGrantInventionWeight" />
    <result column="finger_innovate_patent_grant_utility_weight" jdbcType="DOUBLE" property="fingerInnovatePatentGrantUtilityWeight" />
    <result column="finger_innovate_patent_grant_appear_weight" jdbcType="DOUBLE" property="fingerInnovatePatentGrantAppearWeight" />
    <result column="finger_innovate_copyright_apply_weight" jdbcType="DOUBLE" property="fingerInnovateCopyrightApplyWeight" />
    <result column="finger_innovate_copyright_apply_soft_weight" jdbcType="DOUBLE" property="fingerInnovateCopyrightApplySoftWeight" />
    <result column="finger_innovate_copyright_apply_unsoft_weight" jdbcType="DOUBLE" property="fingerInnovateCopyrightApplyUnsoftWeight" />
    <result column="finger_innovate_copyright_grant_weight" jdbcType="DOUBLE" property="fingerInnovateCopyrightGrantWeight" />
    <result column="finger_innovate_copyright_grant_soft_weight" jdbcType="DOUBLE" property="fingerInnovateCopyrightGrantSoftWeight" />
    <result column="finger_innovate_copyright_grant_unsoft_weight" jdbcType="DOUBLE" property="fingerInnovateCopyrightGrantUnsoftWeight" />
    <result column="finger_innovate_new_product_weight" jdbcType="DOUBLE" property="fingerInnovateNewProductWeight" />
    <result column="finger_innovate_new_product_patent_weight" jdbcType="DOUBLE" property="fingerInnovateNewProductPatentWeight" />
    <result column="finger_innovate_new_product_tech_weight" jdbcType="DOUBLE" property="fingerInnovateNewProductTechWeight" />
    <result column="finger_innovate_new_product_bus_weight" jdbcType="DOUBLE" property="fingerInnovateNewProductBusWeight" />
    <result column="finger_salary_weight" jdbcType="DOUBLE" property="fingerSalaryWeight" />
    <result column="finger_salary_staff_weight" jdbcType="DOUBLE" property="fingerSalaryStaffWeight" />
    <result column="finger_salary_staff_up_10_weight" jdbcType="DOUBLE" property="fingerSalaryStaffUp10Weight" />
    <result column="finger_salary_staff_5_10_weight" jdbcType="DOUBLE" property="fingerSalaryStaff510Weight" />
    <result column="finger_salary_staff_down_5_weight" jdbcType="DOUBLE" property="fingerSalaryStaffDown5Weight" />
    <result column="finger_salary_staff_contribution_weight" jdbcType="DOUBLE" property="fingerSalaryStaffContributionWeight" />
    <result column="finger_salary_staff_contribution_meansale_weight" jdbcType="DOUBLE" property="fingerSalaryStaffContributionMeansaleWeight" />
    <result column="finger_salary_staff_contribution_meantax_weight" jdbcType="DOUBLE" property="fingerSalaryStaffContributionMeantaxWeight" />
    <result column="finger_learn_weight" jdbcType="DOUBLE" property="fingerLearnWeight" />
    <result column="finger_learn_train_weight" jdbcType="DOUBLE" property="fingerLearnTrainWeight" />
    <result column="finger_learn_train_manage_weight" jdbcType="DOUBLE" property="fingerLearnTrainManageWeight" />
    <result column="finger_learn_train_policy_weight" jdbcType="DOUBLE" property="fingerLearnTrainPolicyWeight" />
    <result column="finger_learn_train_skill_weight" jdbcType="DOUBLE" property="fingerLearnTrainSkillWeight" />
    <result column="finger_learn_conslted_weight" jdbcType="DOUBLE" property="fingerLearnConsltedWeight" />
    <result column="finger_learn_conslted_manage_weight" jdbcType="DOUBLE" property="fingerLearnConsltedManageWeight" />
    <result column="finger_learn_conslted_policy_weight" jdbcType="DOUBLE" property="fingerLearnConsltedPolicyWeight" />
    <result column="finger_learn_conslted_skill_weight" jdbcType="DOUBLE" property="fingerLearnConsltedSkillWeight" />
    <result column="finger_brand_weight" jdbcType="DOUBLE" property="fingerBrandWeight" />
    <result column="finger_brand_reward_weight" jdbcType="DOUBLE" property="fingerBrandRewardWeight" />
    <result column="finger_brand_reward_area_weight" jdbcType="DOUBLE" property="fingerBrandRewardAreaWeight" />
    <result column="finger_brand_reward_city_weight" jdbcType="DOUBLE" property="fingerBrandRewardCityWeight" />
    <result column="finger_brand_reward_province_weight" jdbcType="DOUBLE" property="fingerBrandRewardProvinceWeight" />
    <result column="finger_brand_reward_country_weight" jdbcType="DOUBLE" property="fingerBrandRewardCountryWeight" />
    <result column="finger_brand_recognition_weight" jdbcType="DOUBLE" property="fingerBrandRecognitionWeight" />
    <result column="finger_brand_recognition_area_weight" jdbcType="DOUBLE" property="fingerBrandRecognitionAreaWeight" />
    <result column="finger_brand_recognition_city_weight" jdbcType="DOUBLE" property="fingerBrandRecognitionCityWeight" />
    <result column="finger_brand_recognition_province_weight" jdbcType="DOUBLE" property="fingerBrandRecognitionProvinceWeight" />
    <result column="finger_brand_recognition_country_weight" jdbcType="DOUBLE" property="fingerBrandRecognitionCountryWeight" />
    <result column="finger_brand_talent_weight" jdbcType="DOUBLE" property="fingerBrandTalentWeight" />
    <result column="finger_brand_talent_area_weight" jdbcType="DOUBLE" property="fingerBrandTalentAreaWeight" />
    <result column="finger_brand_talent_city_weight" jdbcType="DOUBLE" property="fingerBrandTalentCityWeight" />
    <result column="finger_brand_talent_province_weight" jdbcType="DOUBLE" property="fingerBrandTalentProvinceWeight" />
    <result column="finger_brand_talent_country_weight" jdbcType="DOUBLE" property="fingerBrandTalentCountryWeight" />
  </resultMap>
</mapper>